In [1]:
import pandas as pd
import numpy as np

In [2]:
from pywikiapi import Site

site = Site('http://wikipast.epfl.ch/wikipast/api.php') # Définition de l'adresse de l'API
site.no_ssl = True # Désactivation du https, car pas activé sur wikipast
site.login("MaximeJan@BottinBot3", "nngrqgt0bmo53ogbtie45jjgem7g0tnv") # Login du bot

In [3]:
import pandas as pd

from IPython.display import display
from urllib.parse import quote

doc2start = {"bpt6k63243601": 123, "bpt6k62931221": 151, "bpt6k6286466w": 189, "bpt6k6393838j": 219, "bpt6k6331310g": 216, "bpt6k6292987t": 353, "bpt6k62906378": 288, "bpt6k6391515w": 319, "bpt6k6315927h": 349, "bpt6k6319106t": 324, "bpt6k6315985z": 82, "bpt6k63959929": 82, "bpt6k63197984": 56, "bpt6k6389871r": 77, "bpt6k6319811j": 79, "bpt6k6282019m": 72, "bpt6k6314752k": 190, "bpt6k6305463c": 113, "bpt6k6318531z": 108, "bpt6k6324389h": 72, "bpt6k63243920": 80, "bpt6k6309075f": 96, "bpt6k6333200c": 132, "bpt6k63243905": 134, "bpt6k6333170p": 137, "bpt6k96727875": 135, "bpt6k9764746t": 99, "bpt6k97645375": 123, "bpt6k9672117f": 125, "bpt6k9763554c": 123, "bpt6k9763553z": 105, "bpt6k9677392n": 110, "bpt6k9692809v": 113, "bpt6k9762929c": 129, "bpt6k9672776c": 119, "bpt6k9764647w": 121, "bpt6k9669143t": 145, "bpt6k9677737t": 139, "bpt6k9668037f": 167, "bpt6k96839542": 171, "bpt6k96762564": 185, "bpt6k9685861g": 189, "bpt6k9763471j": 153, "bpt6k9762899p": 157, "bpt6k97630871": 11, "bpt6k9684454n": 235, "bpt6k9732740w": 239, "bpt6k9684013b": 189, "bpt6k9692626p": 305, "bpt6k9685098r": 281, "bpt6k9764402m": 329, "bpt6k97631451": 322, "bpt6k9776121t": 49, "bpt6k9775724t": 33, "bpt6k97774838": 327, "bpt6k9780089g": 339}

def entry2url(row):
    """
    Takes a row of an Annuaire csv and
    transforms it to the corresponding Gallica url
    """
    url = "https://gallica.bnf.fr/ark:/12148/"
    
    directory = row['directory']
    page = row['page'] - doc2start[directory]
    url += f"{row['directory']}/f{row['page']-doc2start[row['directory']]}"
    
    r_strings = []
    if 'name' in row and pd.notna(row['name']):
        r_strings.append(quote(row['name'].replace('.', ' ')))
    if 'job' in row and pd.notna(row['job']):
        r_strings.append(quote(row['job'].replace('.', ' ')))
    if 'street' in row and pd.notna(row['street']):
        r_strings.append(quote(row['street'].replace('.', ' ')))
    if 'number' in row and pd.notna(row['number']):
        r_strings.append(quote(row['number'].replace('.', ' ')))
    
    if len(r_strings) > 0:
        url += f".item.r={'%20'.join(r_strings)}.zoom"
    
    return url

def add_clickable_url(bottin_dataframe):
    bottin_dataframe = bottin_dataframe.copy()
    bottin_dataframe['url'] = bottin_dataframe.apply(entry2url, axis=1)
    def make_clickable(val):
        return val

    return bottin_dataframe

In [4]:
data_bottin = pd.read_csv('./bottin_data_groupe_3.zip')

In [5]:
year1857 = data_bottin[data_bottin['year'] == 1857]
year1858 = data_bottin[data_bottin['year'] == 1858]
year1859 = data_bottin[data_bottin['year'] == 1859]
year1860 = data_bottin[data_bottin['year'] == 1860]
year1861 = data_bottin[data_bottin['year'] == 1861]
year1862 = data_bottin[data_bottin['year'] == 1862]
year1863 = data_bottin[data_bottin['year'] == 1863]
year1864 = data_bottin[data_bottin['year'] == 1864]

In [6]:
def compare(year1,year2):
    data = pd.DataFrame()
    for i in range(len(year1)):
        name, job, street, street_nb = year1857.loc[i,['name','job','street_clean', 'number']]
        x = year2[year2.name == name][year2.job == job]
        if(not(x.empty)):
            data = data.append(x)
    
    return data

In [7]:
"""sameData = compare(year1857,year1858)"""

'sameData = compare(year1857,year1858)'

In [8]:
name, job, street, street_nb = year1857.loc[0,['name','job','street_clean', 'number']]
data = pd.DataFrame()
x = year1858[year1858.name == name][year1858.job == job]

data = data.append(x)
name, job, street, street_nb = year1857.loc[1,['name','job','street_clean', 'number']]
x = year1858[year1858.name == name][year1858.job == job]
data.append(x)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

,directory,page,row,year,name,job,street,number,street_clean,street_only
133152,bpt6k6318531z,216,0,1858,Aaron,bronzes,passage Choiseal,72 et 74.,passage Choiseal,Choiseal
133153,bpt6k6318531z,216,1,1858,Aaron (Michel),manuf. de porcelaines,Bondy,30.,Bondy,Bondy

In [70]:
def add(data):
    for i in range(len(data)):
        name, job, street, street_nb, url = data.loc[i,['name','job','street_clean', 'number', 'url']]
        try:
            titre = f'Bottin_Bot_{name}'
            entry = f'*[[1857]] / Paris, {street} {street_nb} Mention de {name} comme {job} [{url}]'
            site('edit', title=titre,
             text=entry,
             token=site.token())
        except:
            print(f"Problème dans l'ajout de l'entrée à cause du nom {name}")

In [182]:
sameData.to_csv(r'C:\Users\faile\Documents\EPFL\Cours\Bachelor\Semestre_6\Humanités_Digitales\sameData1857_1858.csv', index = False)

In [10]:
sameData

NameError: name 'sameData' is not defined

In [7]:
data_to_add = pd.read_csv('./sameData1857_1858.csv')

In [ ]:
data_to_add = add_clickable_url(data_to_add[:])

In [69]:
data_to_add

,directory,page,row,year,name,job,street,number,street_clean,street_only,url
0,bpt6k6318531z,216,0,1858,Aaron,bronzes,passage Choiseal,72 et 74.,passage Choiseal,Choiseal,https://gallica.bnf.fr/ark:/12148/bpt6k6318531...
1,bpt6k6318531z,216,1,1858,Aaron (Michel),manuf. de porcelaines,Bondy,30.,Bondy,Bondy,https://gallica.bnf.fr/ark:/12148/bpt6k6318531...
2,bpt6k6318531z,216,4,1858,Abadie,architecte,pl. Ve dôme,16.,place Ve dôme,Ve dôme,https://gallica.bnf.fr/ark:/12148/bpt6k6318531...
3,bpt6k6318531z,216,8,1858,Abat,rentier,Isly,10.,Isly,Isly,https://gallica.bnf.fr/ark:/12148/bpt6k6318531...
4,bpt6k6318531z,216,15,1858,Abault (Paul),libraire,Guénegaud,5.,Guénegaud,Guénegaud,https://gallica.bnf.fr/ark:/12148/bpt6k6318531...

In [ ]:
add(data_to_add)